/* Style Sheet */

body {
  background: url('images/mario-kart.jpg') center no-repeat fixed;
  background-size: cover;
  margin: 40px;
}

.main {
  width: 600px;
  padding: 20px 100px;
  margin: 0 auto;
  font-family: Arial;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}

#results img {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

input {
  width: 50px;
}